.my-container {
    width: 80%;
    margin: 0 auto;
    border: 1px solid greenyellow;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

article.hero {
    border: 1px solid orange;
}

.col,
.row,
.container {
    padding: 0;
    margin: 0;
}

hgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
