@use "./variables.scss" as *;

.my-container {
    width: 75%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

// button.btn {
//     background-color: $primaryHighlight;

//     transition: background-color 0.5s;
// }
// button.btn:hover {
//     background-color: $primaryColor;
//     color: white;
// }
.col,
.row,
.container {
    padding: 0;
    margin: 0;
}

.highlight {
    color: $primaryHighlight;
}

hgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p.sup-title {
        color: #8d91ad;
        text-transform: uppercase;
        font-size: 0.7rem;
        margin: 0;
    }
    h1,
    h2 {
        color: $primaryColor;
    }
}

.grey-text {
    color: #8d91ad;
}

.minor-text {
    font-size: 0.9rem;
}

.xs-text {
    font-size: 0.6rem;
}
