@use "./variables.scss" as *;

* {
    font-family: "Cabin", sans-serif;
}

.my-container {
    width: 65%;
    margin: 0 auto;
    border: 1px solid greenyellow;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.hero {
    border: 1px solid orange;
}

.col,
.row,
.container {
    padding: 0;
    margin: 0;
}

hgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grey-text {
    color: #8d91ad;
}

.minor-text {
    font-size: 0.9rem;
}

.xs-text {
    font-size: 0.7rem;
}

hgroup {
    p.sup-title {
        color: #8d91ad;
        text-transform: uppercase;
        font-size: 0.7rem;
        margin: 0;
    }
    h1 {
        color: $primaryColor;
    }
}
